<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%-5level] [%logger] %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>log/testFile.log</file>
		<append>false</append>
		<!-- set immediateFlush to false for much higher logging throughput -->
		<immediateFlush>true</immediateFlush>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] [%-5level] [%logger] %msg%n</pattern>
		</encoder>
	</appender>

    <logger name="demo.app" level="debug"/>
    <logger name="org.springframework.beans.factory" level="debug"/>
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>
